/*  COLORS:
logo color: #4D5AE5; + #2E2F42;

header baxckgroun color: #FFFFFF;
MAIN background-color:#E5E5E5;
HERO AND FOOTER background-color:#2E2F42;
OIUR TEAM bacground-color:#F4F4FD;

h1-index(studio): color: #FFFFFF;

MAIN color:#2E2F42;
p color + adress: color:#434455;
footer p color: #E7E9FC;
*/

/* FONTS and SIZES 



*/

:root {
  --main-color: #434455;
  --main-background-color: #ffffff;
  --title-color: #2e2f42;
  --active-color: #4d5ae5;
  --order-button-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-background-color: #4d5ae5;
  --ourteam-background-color: #f4f4fd;
  --studio-logo-color: #e7e9fc;
  --header-logo-color: #4d5ae5;
  --order-button-hover: #404bbf;
  --filter-background-color: #f4f4fd;
  --filter-color: #4d5ae5;
  --filter-backgroundcolor-hover: #404bbf;
  --filter-color-hover: #ffffff;
  --footer-text-color: #e7e9fc;
  --footer-backgroundcolor: #2e2f42;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* a {
  display: inline-block;
  max-width: 100%;
} */

.list {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* MOBILE_CONTAINER */

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

/* ===========================================HEADER============================== */

/* Logotype */

.logo-header {
  color: var(--header-logo-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-footer {
  color: var(--header-logo-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header > .header-logo {
  color: var(--title-color);
}

.footer-logo {
  color: var(--studio-logo-color);
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*================================= Mobile-menu */
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .contacts-item {
    display: none;
  }

  .mobile-menu-container {
    position: relative;

    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .mobile-menu-open {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
  .mobile-menu-open-icon {
    fill: #2e2f42;
  }

  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-icon {
    fill: #2e2f42;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .mobile-menu-item:hover,
  .mobile-menu-item:focus,
  .mobile-menu-item:active {
    color: #404bbf;
  }

  .mobile-menu-num {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #404bbf;
    margin-bottom: 40px;
  }

  .mobile-menu-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .mobile-menu-contacts {
    margin-bottom: 48px;
  }

  .mobile-menu-social {
    display: flex;
    justify-content: left;
    gap: 56px;
  }

  .mobile-menu-social-item > .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-icon {
    fill: #f4f4fd;
  }

  .mobile-menu-social-item > .social-list-link:hover,
  .mobile-menu-social-item > .social-list-link:focus {
    background-color: #404bbf;
  }

  .mobile-menu-social-item > .social-list-link:hover .social-list-icon,
  .mobile-menu-social-item > .social-list-link:focus .social-list-icon {
    fill: #f4f4fd;
  }
  .mobile-menu-items {
    margin-bottom: 284px;
  }
}

/* ===========TABLET HEADER*/

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .page-header-container {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .address {
    margin-left: auto;
  }

  .site-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .contacts-item:not(:last-child) {
    margin-right: 40px;
  }

  .site-nav-item {
    position: relative;
  }

  .site-nav-item::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    transform: translateY(36px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav-item:hover::after,
  .site-nav-item:focus::after {
    opacity: 1;
  }

  .site-nav a {
    color: var(--title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav a:hover {
    color: var(--active-color);
  }
  .site-nav a:focus {
    color: var(--active-color);
  }

  .site-nav a:active {
    color: var(--active-color);
  }
  .contacts a {
    color: var(--main-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts a:hover {
    color: var(--active-color);
  }

  .contacts a:focus {
    color: var(--active-color);
  }
}

/* ==========DESKTOP HEADER*/

@media screen and (min-width: 1200px) {
  .contacts a {
    color: var(--main-color);
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    display: flex;
    align-items: center;
  }

  .site-nav-item::after {
    transform: translateY(24px);
    pointer-events: none;
  }
}

/* ======================================= /HEADER================================ */

/* ==================================Hero Block + title h1=========================*/

.section-hero {
  background-color: #2e2f42b2;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;
}

.hero-title {
  color: var(--hero-title-color);
  font-weight: 700;
  width: 320px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}
.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-background-color);
  color: var(--order-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover {
  background-color: var(--order-button-hover);
}
.order-button:focus {
  background-color: var(--order-button-hover);
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-size: auto auto;
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 48px;
  }
}

/* ==============================================Tittle for h2 =================================================*/
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* ==================================================Advantages + title for h3 =================================================*/

.section-advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list-item > .item-title {
  margin-bottom: 8px;
}

.item-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.advantage-list-form {
  display: none;
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-list {
    flex-wrap: nowrap;
    row-gap: 0px;
  }

  .advantage-list-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}

/* =========================================work-list========================= */

@media screen and (max-width: 1199px) {
  .section-work-list {
    display: none;
  }
}

.section-work-list {
  padding-bottom: 120px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  background-blend-mode: soft-light, normal;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2225.jpg);
}

.work-list-item:not(:last-child) {
  margin-right: 24px;
}

/* =================================================our team================================================= */

.section-our-team {
  background-color: var(--ourteam-background-color);
}

.container-our-team {
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 72px;
}
.team-list-item {
  /* flex-basis: calc((100% - 72px) / 4); */
  max-width: 264px;
  background-color: var(--main-background-color);
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item-title {
  margin-top: 32px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-list-item > p {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item > .social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: #f4f4fd;
}

.social-list-item > .social-list-link:hover,
.social-list-item > .social-list-link:focus {
  background-color: #404bbf;
}

.social-list-item > .social-list-link:hover .social-list-icon,
.social-list-item > .social-list-link:focus .social-list-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .container-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ===========================================Customers============== */

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customer-list-item > .customer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icon {
  fill: #8e8f99;
}

.customer-list-item > .customer-list-link:hover .company-icon,
.customer-list-item > .customer-list-link:focus .company-icon {
  fill: #404bbf;
}

.customer-list-item > .customer-list-link:hover,
.customer-list-item > .customer-list-link:focus {
  border: 1px solid #404bbf;
}

@media screen and (min-width: 768px) {
  .customer-list {
    column-gap: 24px;
    justify-content: center;
  }

  .customer-list-item > .customer-list-link {
    width: 168px;
    height: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* =================================================Potfolio list + унаследование свойств у пэшэк в ссылках а*/
.list a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.section-portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.container-filter-buttons {
  margin-bottom: 48px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .container-filter-buttons {
    margin-bottom: 64px;
  }

  .filter-buttons {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .container-filter-buttons {
    margin-bottom: 72px;
  }
}

.portfolio-cards {
}
.portfolio-card {
  width: 396px;
  height: 400px;
}

.potfolio-card-border {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid var(--studio-logo-color);
  border-left: 1px solid var(--studio-logo-color);
  border-right: 1px solid var(--studio-logo-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .potfolio-card-border,
.portfolio-card-link:hover .potfolio-card-border {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-title-portfolio-card {
  margin-bottom: 8px;
}

.portfolio-card-link {
  display: block;
}

.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px 40px 32px;
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translate(0, 0);
}

/* 
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
}

.potfolio-card-border {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid var(--studio-logo-color);
  border-left: 1px solid var(--studio-logo-color);
  border-right: 1px solid var(--studio-logo-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .potfolio-card-border,
.portfolio-card-link:hover .potfolio-card-border {

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-title-portfolio-card {
  margin-bottom: 8px;
}

.portfolio-card-link {
  display: block;
}

.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px 40px 32px;
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translate(0, 0);
} */

/* =================================================Footer =================================================*/

.page-footer {
  background-color: var(--footer-backgroundcolor);
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-footer {
  display: flex;
  flex-direction: column;
}
.footer-part-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.page-footer-text {
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 268px;
  margin-top: 16px;
}

.footer-part-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-title {
  color: var(--hero-title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-item-footer > .social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-footer > .social-list-link-footer:hover,
.social-list-item-footer > .social-list-link-footer:focus {
  background-color: #31d0aa;
}

.social-list-item-footer > .social-list-link-footer:hover .social-list-icon,
.social-list-item-footer > .social-list-link-footer:focus .social-list-icon {
  fill: #f4f4fd;
}

/* =========================footer subscribe */

.subscribe-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  background-color: var(--footer-backgroundcolor);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
}

.subscribe-form-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px var(--footer-backgroundcolor);
  -webkit-text-fill-color: #ffffff;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}

.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #ffffff;
}
.footer-subscribe-second {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 565px;
    align-items: baseline;
  }

  .footer-part-one-two {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
  }

  .footer-part-one {
    align-items: start;
    margin-bottom: 0;
  }
  .footer-part-two {
    margin-bottom: 0;
    align-items: start;
  }

  .subscribe-form-input {
    width: 264px;
  }

  .subscribe-footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-button {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1128px;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-part-one-two {
    display: flex;
    gap: 120px;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
  }
  .subscribe-form-input::placeholder {
    opacity: 1;
  }
  .footer-subscribe-p {
    display: none;
  }
  .footer-subscribe-second {
    display: block;
    text-align: start;
  }
  .subscribe-button {
    margin-top: 40px;
  }
}

/* =================================================Фильтры для портфолио (КНОПКИ)*/

.filter {
  background-color: var(--filter-background-color);
  color: var(--filter-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover {
  color: var(--filter-color-hover);
  background-color: var(--filter-backgroundcolor-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter:focus {
  color: var(--filter-color-hover);
  background-color: var(--filter-backgroundcolor-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* =================================================hidden h */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========================MODAL WINDOW=============== */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  width: 392px;
  height: 586px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn {
  fill: #2e2f42;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
}

.icon-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close-btn,
.close-btn:focus .icon-close-btn {
  fill: #ffffff;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.25);
}

/* --------Modal form-------- */

.modal-form-name {
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-form-field {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  display: block;
  margin-bottom: 8px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-form-input-description {
  display: block;
  /* margin-bottom: 4px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-message {
  width: 360px;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-message:focus {
  border-color: #4d5ae5;
  outline: none;
}

.policy-alighn {
  display: flex;
  justify-content: baseline;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-form-check-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-check-label > a {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-form-check {
  display: inline;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
}

.custom-checkbox {
  position: relative;
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-label > .custom-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.modal-form-check:checked
  + .modal-form-check-label
  > .custom-checkbox
  > .checkbox-icon {
  opacity: 1;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  opacity: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: 0ch;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:focus,
.modal-form-button:hover {
  background-color: #404bbf;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: #2e2f42;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 584px;
  }
}

/* ========================/MODAL WINDOW/=============== */
